<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      h1 {
        text-align: center;
        color: purple;
      }
    </style>
  </head>
  <body>
    
    <nav>
      <ul>
        <li><a href="#">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </nav>

    <h1>HOme</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, natus
      adipisci et velit provident ratione veritatis mollitia cumque eos
      reiciendis in dolorum dolorem quae voluptate, consectetur ab perspiciatis?
      Impedit fugit beatae perspiciatis aliquam. Ducimus, eius quaerat
      reiciendis illo magni nulla praesentium ipsam odit nemo, autem dicta ipsum
      fugiat! Alias aperiam laborum voluptates quam vitae illum unde obcaecati
      aut, reiciendis dolore fuga ad velit iste quaerat labore nihil
      necessitatibus cum distinctio illo consequuntur itaque repellendus amet
      dicta at. Odio aut laboriosam ipsum ea, recusandae placeat doloremque non
      doloribus blanditiis? Asperiores ut, accusantium quisquam nostrum nam
      dolore velit sint error veniam quidem?
    </p>
  </body>
</html>
